@font-face {
  font-family: 'Fira Sans';
  src: url("/fonts/FiraSans/fira-sans-Book.ttf");
  src: url("/fonts/FiraSans/fira-sans-standart.ttf");
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url("/fonts/FiraSans/fira-sans-Light.ttf");
}

@font-face {
  font-family: 'Fira Sans Medium';
  src: url("/fonts/FiraSans/fira-sans-Medium.ttf");
}

@font-face {
  font-family: 'Fira Sans Thin';
  src: url("/fonts/FiraSans/fira-sans-Thin.ttf");
}

@font-face {
  font-family: 'Black Sunday';
  src: url("/fonts/Sunday-black.ttf");
}

@font-face {
  font-family: 'Black Sunday SemiBold';
  src: url("/fonts/FiraSans/fira-sans-semiBold.ttf");
}